<template>
  <div
    class="d-flex flex-column justify-center align-center text-center"
    style="height: 100vh"
  >
    <h1 class="display-4 red--text">
      404
    </h1>
    <div class="display-1">
      Page not found...
    </div>
  </div>
</template>

<script>
  export default {
    name: 'NotFound',
  }
</script>

<style scoped>

</style>
