<template>
  <v-navigation-drawer
    v-model="isOpenLocal"
    app
    class="LeftNav"
  >
    <v-form>
      <v-list dense>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              Caption
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content class="title">
            Lines
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          v-for="line of getLines"
          :key="line.id"
        >
          <v-list-item-content>
            <span
              class="d-flex"
              style="align-items: center"
            >
              <v-switch
                v-model="localDisplayedLines"
                dense
                :value="line.id"
              />
              Métro <metrocheck-svg-line-number
                :id="line.id"
                style="height: 32px; width: 32px; font-size: 64px; margin-left: 10px"
                :color="line.color"
              /></span>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-form>
  </v-navigation-drawer>
</template>

<script>
  import { mapGetters } from 'vuex'
  import MetrocheckSvgLineNumber from '../components/SvgLineNumber'

  export default {
    name: 'MetrocheckLeftNav',

    components: { MetrocheckSvgLineNumber },

    props: {
      isOpen: { type: Boolean },
      displayedLines: { type: Array, required: false, default: () => [] },
    },

    data: () => ({
    }),

    computed: {
      ...mapGetters(['getLines']),

      localDisplayedLines: {
        get () { return this.$props.displayedLines },
        set (displayedLines) { this.$emit('update:displayedLines', displayedLines) },
      },

      isOpenLocal: {
        get () { return this.$props.isOpen },
        set (val) { this.$emit('update:isOpen', val) },
      },
    },
  }
</script>

<style scoped>
.LeftNav {
  z-index: 1000
}
</style>
