<template>
  <router-link
    :to="{ name: 'line', params: { lineId: $props.id }}"
    tag="span"
    class="line-link"
  >
    <svg
      viewBox="0 0 80 80"
    >
      <!--suppress CheckEmptyScriptTag -->
      <circle
        cx="40"
        cy="40"
        r="40"
        :fill="color"
      />
      <text
        x="20"
        y="65"
        fill="white"
      >{{ id }}
      </text>
    </svg>
  </router-link>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import { getters } from '../store/constants'

  export default {
    name: 'MetrocheckLineIcon',
    props: { id: { required: true, type: Number } },

    data () {
      return {
        color: '#000000',
      }
    },

    computed: {
      ...mapActions(['linesSelect', 'getLinesSelected']),
      ...mapGetters([getters.GET_LINE_BY_ID]),
    },

    async created () {
      const line = await this[getters.GET_LINE_BY_ID](this.$props.id)
      this.color = line.color
    },
  }
</script>

<style scoped>
svg {
  height: 2em;
  width: 2em;
  font-size: 1em;
}

.line-link {
  cursor: pointer;
  vertical-align: middle;
}

.line-link + .line-link {
  margin-left: 10px;
}

svg text {
  font-size: 4em;
}
</style>
