<!--suppress CheckEmptyScriptTag -->
<template>
  <metrocheck-map>
    <metrocheck-layer-lines-simple :displayed-lines="$props.displayedLines" />
    <metrocheck-layer-points :displayed-lines="$props.displayedLines" />
    <metrocheck-layer-positions :displayed-lines="$props.displayedLines" />
  </metrocheck-map>
</template>

<script>
  import Map from './Map/Map'
  import MetrocheckLayerLinesSimple from './Map/LayerLinesSimple'
  import MetrocheckLayerPoints from './Map/LayerPoints'
  import MetrocheckLayerPositions from './Map/LayerPositions'

  export default {
    name: 'MetrocheckMainMap',

    components: {
      MetrocheckLayerPositions,
      MetrocheckLayerPoints,
      MetrocheckLayerLinesSimple,
      MetrocheckMap: Map,
    },

    props: {
      displayedLines: { type: Array, required: true },
    },
  }
</script>
