<template>
  <v-navigation-drawer
    v-model="isOpenLocal"
    app
    right
    :mini-variant="!$vuetify.breakpoint.mobile"
    :expand-on-hover="!$vuetify.breakpoint.mobile"
    class="RightNav"
  >
    <v-list dense>
      <v-list-item class="justify-center">
        <v-list-item-avatar>
          <img
            src="/svg/logo-inverse.svg"
            alt="metrocheck logo"
          >
        </v-list-item-avatar>
      </v-list-item>
      <v-list-item class="justify-center">
        <v-list-item-avatar />
        <v-list-item-title><b>v{{ versionNumber }}</b></v-list-item-title>
      </v-list-item>

      <v-list-item
        link
        :to="{ name: 'map'}"
        exact
      >
        <v-list-item-action>
          <v-icon>mdi-map</v-icon>
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title>Map</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item
        link
        :to="{ name: 'stats'}"
      >
        <v-list-item-action>
          <v-icon>mdi-chart-bar</v-icon>
        </v-list-item-action>

        <v-list-item-content>
          <v-list-item-title>Stats</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider />

    <template v-slot:append>
      <div>
        <v-list
          subheader
          color="orange"
          dense
          tile
        >
          <v-list-item
            link
            :href="gitHome"
          >
            <v-list-item-action>
              <v-icon>
                mdi-gitlab
              </v-icon>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>Check it out on Gitlab !</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
  import { version, homepage } from '../../package.json'

  export default {
    name: 'MetrocheckRightNav',

    props: {
      isOpen: { required: false, type: Boolean },
    },

    computed: {
      versionNumber: () => version,
      gitHome: () => homepage,
      isOpenLocal: {
        get () {
          return this.$props.isOpen
        },
        set (val) {
          this.$emit('update:isOpen', val)
        },
      },
    },
  }
</script>

<style scoped>
  .RightNav {
    z-index: 1000
  }
</style>
