<template>
  <div class="styledtime">
    <span class="time-hour text--primary">{{ dHours }}</span>
    <span class="time-minute">{{ dMinutes }}</span>
    <span
      v-if="dSeconds"
      class="time-second"
    >{{ dSeconds }}</span>
  </div>
</template>

<script>
  export default {
    name: 'MetrocheckStyledTime',

    props: {
      datetime: { required: false, type: Object },
      hours: { required: false, type: String },
      minutes: { required: false, type: String },
    },

    computed: {
      dHours: function () { return this.datetime ? this.datetime.format('HH') : this.hours },
      dMinutes: function () { return this.datetime ? this.datetime.format('mm') : this.minutes },
      dSeconds: function () { return this.datetime ? this.datetime.format('ss') : null },
    },
  }
</script>

<style scoped>
  .styledtime {
    font-size: 16px;
  }
  .time-hour {
    font-size: 4em;
    font-weight: 800;
    vertical-align: middle;
  }
  .time-minute {
    font-size: 1.5em;
    font-weight: 500;
    vertical-align: super;
    margin-left: .1em;
  }
  .time-second {
    font-size: 1em;
    font-weight: 300;
    vertical-align: super;
    margin-left: .25em;
  }
</style>
