<template>
  <mgl-geojson-layer
    layer-id="positionsSymbol"
    :layer="positionsSymbolLayer"
    type="geojson"
    source-id="positions"
  />
</template>

<script>
  import { MglGeojsonLayer } from 'vue-mapbox'
  import mapConfig from '../../../config/map'

  export default {
    name: 'MetrocheckLayerPositionsSymbol',

    components: {
      MglGeojsonLayer,
    },

    data: function () {
      return { positionsSymbolLayer: mapConfig.layers.positionsSymbolLayer }
    },
  }
</script>

<style scoped>

</style>
