<template>
  <span v-if="formattedLayers.length && Object.keys(lineLayer).length">
    <mgl-geojson-layer
      v-for="layerDef in formattedLayers"
      :key="`layer-${layerDef.id}`"
      :layer-id="layerDef.layerId"
      :layer="layerDef.layer"
      type="geojson"
      :source-id="layerDef.sourceId"
      :source="layerDef.source"
    />
  </span>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { MglGeojsonLayer } from 'vue-mapbox'
  import mapConfig from '../../../config/map'

  export default {
    name: 'MetrocheckLayerLinesSimple',

    components: {
      MglGeojsonLayer,
    },

    props: {
      displayedLines: { type: Array, required: true },
      dashes: { type: Boolean, required: false, default: true },
    },

    computed: {
      ...mapGetters([
        'getLines',
      ]),

      /**
       * NOTE : Dashed and filled layers splat because of : https://github.com/mapbox/mapbox-gl-js/issues/3045
       * @return {*}
       */
      mapLines: function () {
        return this.getLines
          .filter(({ id }) => this.$props.displayedLines.includes(id))
          .map(({ color, id }) => ({
            color,
            id,
            source: {
              filled: `/json/line${id}-simple-filled.geo.json`,
              dashed: `/json/line${id}-simple-dashed.geo.json`,
            },
          }))
      },

      lineLayer: function () {
        const obj = {}
        this.mapLines.forEach(({ id, color, source }) => {
          Object.keys(source).forEach(sourceType => {
            Object.assign(obj, {
              [`line${id}-${sourceType}`]: {
                ...mapConfig.layers.defaultLineLayer,
                id: `line${id}-${sourceType}`,
                paint: {
                  'line-color': color,
                  ...mapConfig.paints.simpleLine[this.$props.dashes ? sourceType : 'filled'],
                },
              },
            })

            // Offset dashes on some lines to prevent overlapping
            if (this.$props.dashes && sourceType === 'dashed' && [2, 1].includes(id)) {
              obj[`line${id}-${sourceType}`].paint['line-dasharray'] = [0, ...obj[`line${id}-${sourceType}`].paint['line-dasharray']]
            }
          })
        })

        return obj
      },

      formattedLayers: function () {
        const resp = this.mapLines.map(({ id, source }) => Object.keys(source).map(sourceType => {
          const i = `line${id}-${sourceType}`
          return ({
            id: i,
            lineId: id,
            layerId: i,
            layer: this.lineLayer[i],
            sourceId: i,
            source: { type: 'geojson', data: source[sourceType] },
          })
        }))

        return (resp.flat())
      },
    },
  }
</script>
