<template>
  <span>
    <mgl-geojson-layer
      v-for="line in mapLines"
      :key="`layer-line-${line.id}`"
      :layer-id="`line${line.id}`"
      :layer="lineLayer[line.id]"
      type="geojson"
      :source-id="`line${line.id}`"
      :source="{ type: 'geojson', data: line.source }"
    />
    <mgl-geojson-layer
      layer-id="technical"
      :layer="technicalLayer"
      type="geojson"
      source-id="technical"
      :source="{ type: 'geojson', data: '/json/technical.geo.json' }"
    />
  </span>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { MglGeojsonLayer } from 'vue-mapbox'
  import mapConfig from '../../../config/map'

  export default {
    name: 'MetrocheckLayerLines',

    components: {
      MglGeojsonLayer,
    },

    props: {
      displayedLines: { type: Array, required: true },
    },

    data: function () {
      return { technicalLayer: mapConfig.layers.technicalLayer }
    },

    computed: {
      ...mapGetters([
        'getLines',
      ]),

      mapLines: function () {
        return this.getLines.filter(({ id }) => this.$props.displayedLines.includes(id)).map(({ color, id }) => ({
          color,
          id,
          source: `/json/line${id}.geo.json`,
        }))
      },

      lineLayer: function () {
        const obj = {}
        this.mapLines.forEach(({ id, color }) => {
          Object.assign(obj, {
            [id]: {
              ...mapConfig.layers.defaultLineLayer,
              id: `line${id}`,
              paint: {
                'line-color': color,
              },
            },
          })
        })

        console.info(obj)
        return obj
      },
    },
  }
</script>
