<template>
  <mgl-map
    ref="map"
    container="markerListMap"
    :access-token="accessToken"
    :map-style="mapStyle"
    sprite="mapbox://sprites/mapbox/bright-v8"
    v-bind="computedBbox"
    :max-bounds="maxBounds"
    @load="handleLoad"
  >
    <slot />
  </mgl-map>
</template>

<script>
  import { MglMap } from 'vue-mapbox'
  import config from '../../../config'

  export default {
    name: 'MetrocheckMap',

    components: {
      MglMap,
    },

    props: {
      zoom: { default: 12, type: Number },
      bounds: { required: false, type: [Object, Array] },
      maxBounds: { required: false, type: Array, default: () => config.map.maxBounds },
    },

    data () {
      return {
        accessToken: config.map.mapboxToken,
        mapStyle: config.map.style,
        center: { lng: 4.3517103, lat: 50.8503396 },
      }
    },

    computed: {
      computedBbox: function () {
        const bounds = this.$props.bbox
          ? null
          : { center: this.center, zoom: this.zoom }

        console.log(bounds)
        return bounds
      },
    },

    methods: {
      handleLoad: function ({ map, component }) {
        if (this.$props.bounds) {
          component.actions.fitBounds(this.$props.bounds, {
            padding: 20,
          })
        }
      },
    },
  }
</script>
